/* side navigation menu / burger menu */

#mySideParentDiv {
  color: blue;
}

.burgerIconID {
  font-size: 25px;
  padding: 2px;
}

/* Burger menu */
#mySideNav {
  z-index: 5;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
}
/* left side panel menu box */
.devBox {
  background-color: white;
  padding: 10px;
  border: 0.5px solid hsl(0, 0%, 89%);
  margin: 10px;
  border-radius: 5px;
}

/* create account button on left panel nav */

.devCreateAccountBtn {
  background-color: orange;
  margin: auto;
  padding: 10px 65px;
  border-radius: 5px;
  border: none;
  background-color: hsl(0, 12%, 87%);
}

.devCreateAccountBtn:hover {
  background-color: rgb(83, 83, 230);
}
/* login button under create box account on side panel */

.btnLoginDevBox {
  text-align: center;
  padding: 10px 65px;
  border-radius: 5px;
  margin-top: 5px;
}

.btnLoginDevBox:hover {
  background-color: hsl(160, 12%, 86%);
}

.sidenav {
  height: 500px;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sideNavPanel a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: red;
}

.closebtn:hover {
  color: blue;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
