.dev-header {
  background-color: #eee;
  height: 60px;
  display: inline-flex;
  width: 100%;
  border: 1px solid gray;
  align-items: center;
}
/* ------------DEV logo------------------ */
.headOne {
  background-color: black;
  color: white;
  height: 40px;
  font-size: 50px;
  margin: 0 10px;
  padding: 8px 5px;
  vertical-align: middle;
  align-items: center;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

/* ------------head two search box--------- */

#headTwo {
  background-color: orange;
  display: flex;
}

.fa-magnifying-glass {
  background-color: aqua;
}

#myInputId {
  background-color: blue;
}
