@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Questrial&family=Ramabhadra&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ------------------------left nav bar--------------------------------- */
/* ---------------------------------------------------------------------- */

/* ---------------scroll smooth to footer div where comments section is located */

html {
  scroll-behavior: smooth;
}

/*-------------------------------main container of the whole body-----------------------  */

.responsive {
  width: 100%;
  height: auto;
}

/* -------------------------------------------------------------------------------------- */
.main-container {
  width: 100%;
  display: flex;
  align-content: space-around;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

/*----------------------------Temporary left container freeze--------- */

/* .left-menu {
  background-color: yellow;
  width: 5%;
  top: 60px;
  padding-top: 50px;
  text-align: center;
  margin-top: 60px;

  position: fixed;
} */

/* ---------------------------------Left Menu Icon----------------------------- */
/* ---------------------------------------------------------------------------- */

/* ---------fa icon sizes------- */
.left-menu .fa-heart-circle-plus,
.left-menu .fa-comment,
.left-menu .fa-bookmark,
.left-menu .fa-ellipsis {
  font-size: 25px;
}
/* ---------fa heart icon------ */
.left-menu .fa-heart-circle-plus:hover {
  color: red;
}

/* ---------fa comment icon------ */
.fa-comment:hover {
  color: orange;
}

/* ---------fa bookmark icon------ */
.fa-bookmark:hover {
  color: blue;
}

.fa-ellipsis {
  color: rgb(161, 9, 34);
  padding: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  align-content: center;
  border: none;
  border-radius: 50%;
  border: none;
  position: absolute;
  z-index: 3;
  margin-left: -30px;
}

/* ---------fa ellipsis icon---------- */
.fa-ellipsis:hover {
  color: rgb(161, 9, 34);
  border: none;
  border-radius: 50%;
  background-color: #c9c6c6;
  width: 50px;
  height: 50px;
  text-align: center;
  align-content: center;
  padding: 10px;
  position: absolute;
}

/* ------------------show and hide the ellipse content----------------- */

.group-myEllipsis {
  background-color: white;
  position: absolute;
  margin-left: 75px;
  margin-top: -30px;
  text-align: left;
  padding: 10px;
  border-radius: 8px;
  width: 13.5rem;
}

.ul-Ellipsis {
  list-style-type: none;
  visibility: hidden;
}

.group-myEllipsis .ul-Ellipsis {
  visibility: visible;
}

.group-myEllipsis .ul-Ellipsis li {
  background-color: white;
  padding-bottom: 16px;
  padding: 8px;
  border-radius: 3px;
}

li a {
  text-decoration: none;
  font-size: 16px;
}

.ul-Ellipsis li:hover {
  background-color: hsl(240, 52%, 94%);
  color: hsl(240, 87%, 70%);
}
/* copied to clipboard keep invisible and visible upon click */
/* added by classList to the parent element*/

.copiedToClipBoard {
  text-align: center;
  font-size: 15.5px;
  color: green;
}

/* ------------------------------------Main container---------------------------------- */
/* ------------------------------------------------------------------------------------ */

.main-content {
  width: 70%;
}

/* ------------------------------------Right Menu-------------------------------------- */
/* ------------------------------------------------------------------------------------ */

.right-menu {
  background-color: #f5f5f5;
  width: 30%;
  margin-top: 60px;
  align-items: center;
}

/* ------------Inserted section / inserted div in between the main content and foot div/  Join DEV before comments section-------------------- */
.inserted {
  margin-top: 50px;
  border: 0.2px solid rgb(214, 213, 213);
  height: 300px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}
/* -------------Oke'y let's go button styling---------------------- */
/* parent element of input */

.parentElement {
  margin-top: 20px;
}

.parentElement:hover {
  color: white;
}

.childElement {
  text-align: center;
  border: 0.2px solid green;
  border-radius: 5px;
  padding-top: 10px;
  height: 40px;
}

.childElement:hover {
  background-color: rgb(54, 218, 54);
}

.itsOkey {
  text-decoration: none;
  color: green;
  font-weight: bold;
}

.itsOkey:hover {
  color: white;
  font-weight: bold;
}

/* -------------------------ellipse on Join DEV----------------------- */
#myEllipse {
  float: right;
  justify-content: center;
  align-items: center;
}

/* -------------------------comments section page------------------------ */

.main-comments {
  height: 300px;
  padding: 50px;
  border-radius: 5px;
  border: 0.5 solid gray;
  background-color: #eee;
  margin-top: 10px;
}

.main-comments #comments-childHeader {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
.topComments {
  color: black;
  font-size: 23px;
  font-weight: 700;
  font-family: "Ramabhadra", sans-serif;
}

.subscribeBtn {
  color: blue;
  border: 2px solid #c9c7c7;
  padding: 6px 18px;
  border-radius: 5px;
  font-size: 16.5px;
  color: rgb(70, 70, 70);
  font-weight: bold;
}

.subscribeBtn:hover {
  border: 2px solid gray;
}

.main-comments .comments-childBody {
  display: flex;
  margin-top: 30px;
}

#devCommentsLogo {
  background-color: black;
  color: white;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  padding: 3px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#usersComments {
  margin-left: 10px;
  height: 85px;
  width: 90%;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
}

textarea::placeholder {
  color: red;
}
/* ------------------------code of conduct section under comments div---------- */
.codeOfConduct {
  color: blue;
  text-align: center;
}

.codeOfConduct #codeOne,
#reportOne {
  color: gray;
  font-size: 13.5px;
  cursor: pointer;
}

#codeOne {
  margin: 0px 7px;
  text-decoration: none;
}

#reportOne {
  margin: 7px;
  text-decoration: none;
}

/*---------------------------Begin of Right Menu content-----------  */
/* ------------------------------------------------------------------ */
.toCreator-page {
  border: 0.2px solid rgb(206, 202, 202);
  border-radius: 5px;
  height: 450px;
  margin: 10px;
  width: auto;
  background-color: #ffffff;
}

/* -------black padding on top of creators picture */
.rightHeaderBlackPad {
  background-color: black;
  height: 30px;
  border-radius: 5px 5px 0px 0px;
}
/* ------creators name font size and color------ */
.creatorName {
  color: blue;
  position: absolute;
  font-size: 24px;
  font-weight: bolder;
  margin-top: 20px;
  margin-left: 10px;
  z-index: 1;
}
/*-------creators image--------*/
.myPicture {
  height: 90px;
  border-radius: 50%;
  z-index: 10;
  margin-top: -15px;
  margin-left: 20px;
}

.creatorTitle {
  color: green;
  font-size: 13px;
  position: absolute;
  margin-top: -30px;
  margin-left: 117px;
}

/*--------creator's button------*/
.creatorsBtn {
  background-color: maroon;
  color: white;
  text-decoration: none;
  width: 95%;
  border-radius: 5px;
  height: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 40%;
  margin: auto;
}

/*--------Button Link--------*/
#myLink {
  color: white;
  text-decoration: none;
}
/*---------creator about paragraph--------*/
.creatorsParagraph {
  padding: 10px 15px;
}

.toCreator-page p {
  color: black;
  font-size: 15px;
}

/*--------second creators page------------*/
#secondDivCreatorsPage {
  height: 400px;
  margin: 10px;
  border-radius: 5px;
}

/*---------second section para page--------*/

#creatorsPara {
  background-color: white;
  border-radius: 2px;
  border: 0.1px solid gray;
  margin-bottom: 2px;
  padding: 12px;
  font-size: 15px;
}

#topicTitle {
  font-size: 16px;
  color: blue;
}

#topicId {
  font-size: 14px;
  color: gray;
}

#creatorName0 {
  font-weight: bold;
  font-size: 18px;
}

.creatorsName {
  color: blue;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

/* --------------------------Animate left-nav favicon----------------------------------- */
/* -------------------------------------------------------------------------------------------- */

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 60px;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-size: 10px;
  border-radius: 6px;
  padding: 2px 2px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -30px;
}
/* Popup arrow */
.popup .popuptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
/* Toggle this class -hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ----------------------------------------end of pop up heart icon----------------- */
/* ---------------------start of comments section-------------- */

.commentDiv {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* the actual popup */
.commentDiv .popUpTextTwo {
  visibility: hidden;
  width: 70px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -35px;
  font-size: 10px;
}

/* popup arrow */
.commentDiv .popUpTextTwo::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -4px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* mouse over and mouse out */
.commentDiv .showComment {
  visibility: visible;
  -webkit-animation: transcend 1s;
  animation: transcend 1s;
}

/* add animation (fade in the popup) */
@-webkit-keyframes transcend {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transcend {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ----------------------------------------end of comment section----------------- */

/* ---------------------start of save section-------------- */

.saveBookMark {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* the actual popup */
.saveBookMark .popUpSave {
  visibility: hidden;
  width: 50px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -25px;
  font-size: 10px;
}

/* popup arrow */
.saveBookMark .popUpSave::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -4px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* mouse over and mouse out */
.saveBookMark .showSave {
  visibility: visible;
  -webkit-animation: transcend 1s;
  animation: transcend 1s;
}

/* add animation (fade in the popup) */
@-webkit-keyframes transcend {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transcend {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
