@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Questrial&family=Ramabhadra&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* ------------------------left nav bar--------------------------------- */
/* ---------------------------------------------------------------------- */

/* ---------------scroll smooth to footer div where comments section is located */
html {
  scroll-behavior: smooth;
}

/*-------------------------------main container of the whole body-----------------------  */
/* -------------------------------------------------------------------------------------- */
.main-container {
  background-color: green;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: space-around;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.left-menu {
  background-color: maroon;
  width: 6.4%;
  top: 60px;
  padding-top: 50px;
  /* position: fixed; */
}

/* ---------------------------------Left Menu Icon----------------------------- */
/* ---------------------------------------------------------------------------- */

/* ---------fa icon sizes------- */
.left-menu .fa-heart-circle-plus,
.left-menu .fa-comment,
.left-menu .fa-bookmark,
.left-menu .fa-ellipsis {
  font-size: 25px;
}
/* ---------fa heart icon------ */
.left-menu .fa-heart-circle-plus:hover {
  color: red;
}

/* ---------fa comment icon------ */
.fa-comment:hover {
  color: orange;
}

/* ---------fa bookmark icon------ */
.fa-bookmark:hover {
  color: blue;
}

/* ---------fa ellipsis icon---------- */
.fa-ellipsis:hover {
  color: rgb(161, 9, 34);
  border: none;
  padding: 10px;
  border-radius: 50%;
  background-color: #c9c6c6;
}

/* ------------------------------------Main container---------------------------------- */
/* ------------------------------------------------------------------------------------ */

.main-content {
  background-color: pink;
  width: 60%;
}

/* ------------------------------------Right Menu-------------------------------------- */
/* ------------------------------------------------------------------------------------ */

.right-menu {
  background-color: #f5f5f5;
  width: 30%;
  margin-top: 60px;
}

/* ------------Inserted Join DEV before comments section-------------------- */
.inserted {
  margin-top: 50px;
  border: 0.2px solid rgb(214, 213, 213);
  height: 300px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}
/* -------------Button of Get started---------------------- */
/* parent element of input */

.parentElement {
  margin-top: 20px;
}

.childElement {
  text-align: center;
  border: 0.2px solid blue;
  border-radius: 5px;
}

.childElement h1 {
  color: blue;
  font-size: 18px;
  padding: 10px 0px;
}

.childElement h1:hover {
  color: white;
  background-color: blue;
}

/* -------------------------ellipse on Join DEV----------------------- */
#myEllipse {
  float: right;
  justify-content: center;
  align-items: center;
}

/* -------------------------comments section page------------------------ */

.main-comments {
  height: 300px;
  padding: 50px;
  border-radius: 5px;
  border: 0.5 solid gray;
  background-color: #eee;
  margin-top: 10px;
}

.main-comments #comments-childHeader {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
.topComments {
  color: black;
  font-size: 23px;
  font-weight: 700;
  font-family: "Ramabhadra", sans-serif;
}

.subscribeBtn {
  color: blue;
  border: 2px solid #c9c7c7;
  padding: 6px 18px;
  border-radius: 5px;
  font-size: 16.5px;
  color: rgb(70, 70, 70);
  font-weight: bold;
}

.subscribeBtn:hover {
  border: 2px solid gray;
}

.main-comments .comments-childBody {
  display: flex;
  margin-top: 30px;
}

#devCommentsLogo {
  background-color: black;
  color: white;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  padding: 3px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#usersComments {
  margin-left: 10px;
  height: 85px;
  width: 90%;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
}

textarea::placeholder {
  color: red;
}
/* ------------------------code of conduct section under comments---------- */
.codeOfConduct {
  color: blue;
  text-align: center;
}

.codeOfConduct #codeOne,
#reportOne {
  color: gray;
  font-size: 13.5px;
  cursor: pointer;
}

#codeOne {
  margin: 0px 7px;
  text-decoration: none;
}

#reportOne {
  margin: 7px;
  text-decoration: none;
}

/*---------------------------Begin of Right Menu content-----------  */

.toCreator-page {
  border: 0.2px solid rgb(206, 202, 202);
  border-radius: 5px;
  height: 450px;
  margin: 10px;
  background-color: white;
}

/* -------black padding on top of creators picture */
.rightHeaderBlackPad {
  background-color: black;
  height: 30px;
  border-radius: 5px 5px 0px 0px;
}
/* ------creators name font size and color------ */
.creatorName {
  color: blue;
  position: absolute;
  font-size: 24px;
  font-weight: bolder;
  margin-top: 20px;
  margin-left: 10px;
  z-index: 1;
}
/*-------creators image--------*/
.myPicture {
  height: 90px;
  border-radius: 50%;
  z-index: 10;
  margin-top: -15px;
  margin-left: 20px;
}

.creatorTitle {
  color: green;
  font-size: 13px;
  position: absolute;
  margin-top: -30px;
  margin-left: 117px;
}

/*--------creator's button------*/
.creatorsBtn {
  background-color: maroon;
  color: white;
  text-decoration: none;
  width: 95%;
  border-radius: 5px;
  height: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 40%;
  margin: auto;
}

/*--------Button Link--------*/
#myLink {
  color: white;
  text-decoration: none;
}
/*---------creator about paragraph--------*/
.creatorsParagraph {
  padding: 10px 15px;
}

.toCreator-page p {
  color: black;
  font-size: 15px;
}

/*--------second creators page------------*/
#secondDivCreatorsPage {
  height: 400px;
  margin: 10px;
  border-radius: 5px;
}

/*---------second section para page--------*/

#creatorsPara {
  background-color: white;
  border-radius: 2px;
  border: 0.1px solid gray;
  margin-bottom: 2px;
  padding: 12px;
}

#creatorName0 {
  font-weight: bold;
  font-size: 22px;
}

.creatorsName {
  color: blue;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
