@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* ---------------------------------middle body container HTML document--------------------------- */
/* --------------------------------- All Queries are indicated here -------------------------------------------- */

/* -------set all margin and borders to zero------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
  font-size: 18px;
}

header {
  width: 96%;
  height: 415px;
  background-image: url("./image/myPicture.jpg ");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}

/* -------------text inside black square header------------------------------------- */
/* --------------------------------------------------------------------------------- */
#projectTitle {
  text-align: center;
  width: 70%;
  color: white;
  font-size: 32px;
  font-weight: bolder;
  position: relative;
  top: 12.5rem;
  z-index: 5;
}

/* ----------------creators name inside the color black square box header------------------------- */
#signatories {
  color: yellow;
  font-size: 15px;
  margin-top: -80px;
  text-align: center;
  width: 30%;
  margin-left: 80px;
  position: relative;
  top: 7.6rem;
  font-weight: bold;
  z-index: 5;
}

/* anchor tag short cut display string adjustment */
#anchorOne {
  font-weight: bold;
  font-size: 18px;
}

/* inside (span) content sample for all black squares */
#varType,
#varSign,
#varPerson,
#varSingleQuote,
#doubleQuote,
#loremIpsumWord {
  color: orange;
  padding: 0px 3px;
}

#varName {
  color: green;
  padding: 0px 3px;
}
#bracket {
  padding: 0px 5px;
}

#consolePrint {
  color: green;
}

#bracket,
#varComma,
#semiColon,
#openParenthesis,
#closeParenthesis,
#numberData {
  color: white;
  padding: 0px 3px;
}

#openParenthesisNoSpace,
#closeParenthesisNoSpace,
#semiColonNoSpace {
  color: white;
  font-family: "Courier New", Courier, monospace;
  margin-left: -5px;
}
/* -------------negative number---------- */
#negativeSign {
  color: red;
}

#period {
  color: white;
}
/* ------------------paragraph color white in line color----------- */
#paraColorWhite {
  color: white;
}

/* -------------------------button black link to new page display/ html method page--------------------------------- */
.btn {
  padding: 10px 20px;
  border: 2px solid gray;
  width: 142px;
  color: white;
  background-color: black;
  border-radius: 10px;
  position: relative;
  top: 10px;
  font-size: 13px;
}

/* ------------------------------------------------------------------- */
/* ------------------------ media queries------------------------------ */
@media (min-width: 500px) {
  body {
    background-color: green;
  }
  #searchBox {
    display: flex;
    width: 690px;
    margin-left: 5px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    display: none;
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10rem;
    font-size: 23px;
  }

  /* --------create account button-------- */
  #headFour {
    margin-left: 5px;
  }
}

@media (min-width: 510px) {
  body {
    background-color: blueviolet;
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10.3rem;
  }
}

@media (min-width: 520px) {
  body {
    background-color: rgb(43, 226, 134);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10.7rem;
  }
}

@media (min-width: 530px) {
  body {
    background-color: rgb(53, 145, 168);
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 11.8rem;
  }
}

@media (min-width: 540px) {
  body {
    background-color: rgb(13, 25, 194);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 12.4rem;
  }
}

@media (min-width: 550px) {
  body {
    background-color: rgb(19, 179, 27);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 13.2rem;
  }
}

@media (min-width: 560px) {
  body {
    background-color: rgb(4, 185, 155);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 13.9rem;
  }
}

@media (min-width: 570px) {
  body {
    background-color: rgb(117, 6, 84);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 14.3rem;
  }
}

@media (min-width: 580px) {
  body {
    background-color: rgb(211, 102, 13);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 14.9rem;
  }
}

@media (min-width: 590px) {
  body {
    background-color: rgb(116, 180, 12);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 15.4rem;
  }
}

@media (min-width: 600px) {
  body {
    background-color: rgb(15, 141, 163);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 15.9rem;
  }
}

@media (min-width: 610px) {
  body {
    background-color: rgb(40, 163, 15);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 16.6rem;
  }
}

@media (min-width: 620px) {
  body {
    background-color: rgb(94, 6, 28);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 17.1rem;
  }
}

@media (min-width: 630px) {
  body {
    background-color: rgb(88, 9, 71);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 17.5rem;
  }
}

@media (min-width: 640px) {
  body {
    background-color: rgb(151, 15, 15);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 18.2rem;
  }
}

@media (min-width: 650px) {
  body {
    background-color: rgb(27, 150, 11);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 19rem;
  }
}

@media (min-width: 660px) {
  body {
    background-color: #dd1b1b;
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 19.4rem;
  }
}

@media (min-width: 670px) {
  body {
    background-color: rgb(197, 214, 41);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 19.8rem;
  }
}

@media (min-width: 680px) {
  body {
    background-color: rgb(17, 20, 192);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 20.3rem;
  }
}

@media (min-width: 690px) {
  body {
    background-color: orange;
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 20.9rem;
  }
}

@media (min-width: 700px) {
  body {
    background-color: rgb(63, 17, 138);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 21.2rem;
  }
}

@media (min-width: 710px) {
  body {
    background-color: rgb(143, 199, 13);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 22.4rem;
  }
}

@media (min-width: 710px) {
  body {
    background-color: rgb(52, 19, 95);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 22.2rem;
  }
}

@media (min-width: 720px) {
  body {
    background-color: rgb(7, 161, 66);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 22.8rem;
  }
}

@media (min-width: 730px) {
  body {
    background-color: rgb(161, 7, 97);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 23.4rem;
  }
}

@media (min-width: 740px) {
  body {
    background-color: rgb(16, 131, 121);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 24rem;
  }
}

@media (min-width: 750px) {
  body {
    background-color: rgb(37, 16, 131);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 24rem;
  }
}

@media (min-width: 750px) {
  body {
    background-color: rgb(36, 65, 3);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 24.2rem;
  }
}

@media (min-width: 760px) {
  body {
    background-color: rgb(12, 143, 7);
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 24.9rem;
  }
}

/* ------------------start of search box change break preview------------ */
/* --------------------------------------------------- */

@media (min-width: 770px) {
  body {
    background-color: rgb(9, 182, 38);
  }
  #burgerMenu {
    display: none;
  }
  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    display: none;
  }
  /* ---------Login button change width break point------- */
  #loginHeader {
    display: inline;
    margin-left: 10px;
  }
  /*-----------displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 430px;
  }

  #myInputId {
    width: 389px;
  }

  @media (min-width: 780px) {
    body {
      background-color: rgb(218, 204, 11);
    }
    #burgerMenu {
      display: none;
    }
    #magnifyingTwo {
      color: hsl(0, 20%, 30%);
      display: none;
    }

    /* ---------Login button change width break point------- */
    #loginHeader {
      display: inline;
    }

    /*-----------displaying search box break point------- */
    #searchBox {
      display: flex;
      margin-left: 10px;
      height: 40px;
      border-radius: 5px;
      border: 0.5px solid rgb(212, 206, 206);
      margin-right: 5px;
      width: 430px;
    }

    #myInputId {
      width: 389px;
    }
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 790px) {
  body {
    background-color: blue;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 450px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 410px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 15px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 800px) {
  body {
    background-color: yellow;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 460px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 420px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 15px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 810px) {
  body {
    background-color: blue;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 470px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 430px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 20px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 820px) {
  body {
    background-color: orange;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 490px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 440px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 5px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 830px) {
  body {
    background-color: green;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 490px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 450px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 5px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 840px) {
  body {
    background-color: red;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 500px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 460px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 10px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 850px) {
  body {
    background-color: blue;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 510px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 470px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 17px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 860px) {
  body {
    background-color: rgb(48, 8, 85);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 520px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 480px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 10px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 870px) {
  body {
    background-color: rgb(7, 68, 31);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 530px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 480px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 25px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 880px) {
  body {
    background-color: blue;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 540px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 490px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 10px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 890px) {
  body {
    background-color: rgb(53, 3, 110);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 540px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 500px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 5px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 900px) {
  body {
    background-color: rgb(22, 158, 29);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 570px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 520px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 5px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 910px) {
  body {
    background-color: blue;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 580px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 520px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 5px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 920px) {
  body {
    background-color: blue;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 590px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 540px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 5px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 930px) {
  body {
    background-color: orange;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 590px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 545px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 10px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 940px) {
  body {
    background-color: rgb(13, 163, 76);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 590px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 545px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 15px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 950px) {
  body {
    background-color: violet;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 610px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 570px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 10px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 960px) {
  body {
    background-color: rgb(63, 8, 109);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 620px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 570px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 10px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 970px) {
  body {
    background-color: rgb(0, 255, 21);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 620px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 400px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 10px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 980px) {
  body {
    background-color: rgb(22, 163, 17);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 650px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 570px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 5px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 990px) {
  body {
    background-color: rgb(20, 204, 35);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 600px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 300px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 0px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1000px) {
  body {
    background-color: green;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 650px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 595px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 10px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1010px) {
  body {
    background-color: rgb(11, 185, 35);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 650px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 600px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 20px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1020px) {
  body {
    background-color: blue;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 640px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 600px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 30px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1030px) {
  body {
    background-color: rgb(172, 17, 76);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 640px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 600px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 20px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1040px) {
  body {
    background-color: blue;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 640px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 600px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 20px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1050px) {
  body {
    background-color: orange;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 650px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 600px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 20px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1060px) {
  body {
    background-color: blue;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 670px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 600px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 50px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1070px) {
  body {
    background-color: green;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 700px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 640px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 20px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1080px) {
  body {
    background-color: green;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 680px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 640px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 50px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1090px) {
  body {
    background-color: blue;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 590px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 640px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 140px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1100px) {
  body {
    background-color: rgb(8, 77, 109);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 680px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 640px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 50px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1110px) {
  body {
    background-color: orange;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 680px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 640px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 30px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1120px) {
  body {
    background-color: rgb(29, 11, 58);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 690px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 640px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 60px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1130px) {
  body {
    background-color: blue;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 680px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 640px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 70px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1140px) {
  body {
    background-color: blue;
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 690px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 640px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 70px;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1150px) {
  body {
    background-color: rgb(0, 255, 255);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 690px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 640px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 7rem;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1170px) {
  body {
    background-color: rgb(119, 13, 218);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 690px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 640px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 8rem;
  }
}

@media (min-width: 1180px) {
  body {
    background-color: rgb(18, 132, 167);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 690px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 640px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 7rem;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1190px) {
  body {
    background-color: rgb(226, 117, 15);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 690px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 640px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 9rem;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1200px) {
  body {
    background-color: rgb(204, 218, 15);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 690px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 640px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 10rem;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1220px) {
  body {
    background-color: rgb(6, 124, 51);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 690px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 640px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 11rem;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1240px) {
  body {
    background-color: rgb(32, 5, 54);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 690px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 640px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 12rem;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1260px) {
  body {
    background-color: rgb(218, 15, 208);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 690px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 640px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 11rem;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1280px) {
  body {
    background-color: rgb(128, 197, 16);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 690px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 640px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 14rem;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1300px) {
  body {
    background-color: rgb(93, 3, 116);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 690px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 640px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 16rem;
  }
}

/* -------------------------------------------------- */
/* ----------search box first break point---------- */
@media (min-width: 1320px) {
  body {
    background-color: rgb(131, 4, 131);
  }
  #burgerMenu {
    display: none;
  }

  #magnifyingTwo {
    color: hsl(0, 20%, 30%);
    margin-left: 10px;
    display: none;
  }

  /*-----------find related posts displaying search box break point------- */
  #searchBox {
    display: flex;
    margin-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: 0.5px solid rgb(212, 206, 206);
    margin-right: 5px;
    width: 690px;
  }

  /*------------- search input size--------  */
  #myInputId {
    width: 640px;
    border-radius: 5px;
  }

  /* -------------Log-in login button first break point --------- */
  #loginHeader {
    display: inline-block;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-left: 17rem;
  }
}
